{% if translations %}
<table class="translation-list">
    <tr>
        <th>{{ 'message_domain'|trans }}</th>
        <th>{{ 'trans_key'|trans }}</th>
        <th>{{ 'trans_locale'|trans }}</th>
        <th>{{ 'translation'|trans }}</th>
        <th>{{ 'date_created'|trans }}</th>
        <th>{{ 'date_updated'|trans }}</th>
    </tr>
    {% for translation in translations %}
    <tr>
        <td>{{ translation.messageDomain }}</td>
        <td>{{ translation.transKey }}</td>
        <td>{{ translation.transLocale }}</td>
        <td>{{ translation.translation }}</td>
        <td>{{ translation.dateCreated.format('Y-m-d H:i:s') }}</td>
        <td>{{ translation.dateUpdated.format('Y-m-d H:i:s') }}</td>
    </tr>
    {% endfor %}
</table>
<p>{{ 'translations' }}: {{ translations|length }}</p>
{% else %}
<h3>{{ 'no.table.data.yet'|trans }}</h3>
{% endif %}
